<app-header [websiteDataLocal]="websiteDataLocal"></app-header>
<div class="loader" *ngIf="showLoading">
    <!-- <span class="loader-spinner">Loading...</span> -->
    <img src="./assets/dist/images/loader.gif" alt="loader" />
</div>
<!-- Event Search Starts Here -->
<!-- Breadcrumb Starts Here -->
<div class="event-sub-section eventsearch-sub-section section--bg-offwhite-one">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center bg-transparent p-0 mb-0">
                <li class="breadcrumb-item">
                    <a href="/" class="fs-6 text-secondary">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/courses/all" class="fs-6 text-secondary">course</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb Ends Here -->
<section class="section event-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="event-search-results">
                    <div class="event-search-results-heading">
                        <p>{{totalRecords}} results found.</p>
                        <button class="button button-lg button--primary button--primary-filter d-lg-none" id="filter">
                            <span>
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.3335 14.9999V9.55554" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M3.3335 6.4444V1" stroke="white" stroke-width="1.7" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M9.55469 14.9999V8" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M9.55469 4.88886V1" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.7773 14.9999V11.1111" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.7773 7.99995V1" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M1 9.55554H5.66663" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7.22217 4.88867H11.8888" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M13.4443 11.1111H18.111" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                            Filter
                        </button>
                    </div>
                </div>
                <div class="row event-search-content" *ngIf="courses && courses.length">
                    <div class="col-md-4 mb-4" *ngFor="let homeCourse of courses">
                        <div class="contentCard contentCard--course shadow-sm">
                            <div class="contentCard-top">
                                <a [routerLink]="'/course/details/'+homeCourse.id">
                                    <img [src]="homeCourse.banner_image ? imgUrl+homeCourse.banner_image : './assets/dist/images/courses/demo-img-04.png'"
                                        alt="images" class="img-fluid" />
                                </a>
                            </div>
                            <div class="contentCard-bottom">
                                <span class="contentCard--type">{{ homeCourse.course_type }}</span>
                                <h5>
                                    <a [routerLink]="'/course/details/'+homeCourse.id" class="font-title--card">{{
                                        homeCourse.name }}</a>
                                </h5>
                                <div class="contentCard-info d-flex align-items-center justify-content-between">
                                    <a [routerLink]="'/course/details/'+homeCourse.id"
                                        class="contentCard-user d-flex align-items-center">
                                        <img [src]="homeCourse.tutor && homeCourse.tutor.image ? imgUrl+'uploads/users/'+homeCourse.tutor.image : './assets/dist/images/avtar.png'"
                                            alt="client-image" class="rounded-circle" style="height: 34px;width:34px" />
                                        <p class="font-para--md">{{homeCourse && homeCourse.tutor ?
                                            homeCourse.tutor.name : ''}}</p>
                                    </a>
                                    <div class="price">
                                        <span>${{ homeCourse.price }}</span>
                                    </div>
                                </div>
                                <div class="contentCard-more">
                                    <div class="d-flex align-items-center">
                                        <div class="icon">
                                            <img src="./assets/dist/images/icon/star.png" alt="star" />
                                        </div>
                                        <span
                                            [innerHtml]="homeCourse.course_rating_avg_rating ? (homeCourse.course_rating_avg_rating | number : '1.2-2') : 0"></span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="icon">
                                            <img src="./assets/dist/images/icon/eye.png" alt="eye" />
                                        </div>
                                        <span>{{ homeCourse.total_view ? homeCourse.total_view : 0 }}</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="icon">
                                            <img src="./assets/dist/images/icon/book.png" alt="book" />
                                        </div>
                                        <span>{{ homeCourse.total_lesson_count ? homeCourse.total_lesson_count : 0 }}
                                            Lesson</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="icon">
                                            <img src="./assets/dist/images/icon/clock.png" alt="clock" />
                                        </div>
                                        <span>{{ homeCourse.total_length_minutes ? homeCourse.total_length_minutes : 0
                                            }} Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template *ngIf="currentPage == 1 && totalPage != 1">
                    <div class="pagination-group mt-lg-5 mt-2 justify-content-center"
                        *ngIf="paginationLinks && paginationLinks.length">
                        <a [href]="'/courses/'+currentId+'?page='+(currentPage-1)" class="p_prev"
                            *ngIf="currentPage >= totalPage && (currentPage-1) > 0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                                viewBox="0 0 9.414 16.828">
                                <path data-name="Icon feather-chevron-left" d="M20.5,23l-7-7,7-7"
                                    transform="translate(-12.5 -7.586)" fill="none" stroke="#1a2224"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                            </svg>
                        </a>
                        <a [href]="'/courses/'+currentId+'?page='+(i+1)"
                            class="cdp_i {{ (i+1) == currentPage ? 'active' : '' }}"
                            *ngFor="let pagination of paginationLinks;let i = index">{{i+1}}</a>
                        <a [href]="'/courses/'+currentId+'?page='+(currentPage+1)" class="p_next"
                            *ngIf="currentPage < totalPage">
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1L8.5 8L1.5 15" stroke="#35343E" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</section>


<app-footer [websiteDataLocal]="websiteDataLocal" [isWelcomeScreen]='true'></app-footer>